<%- include('ek/header', {bot, user, path}) %>

<div class="post post-single">
                  <br>
                        <div class="post-meta">
                        </div><br>
                        <div class="post-thumbnail">
                            <div><img src="<%=bot.ayar.fetch(`botlar.${id}.avatar`)%>"
                                width="200" height="200" class="botavatar">&emsp;<h3 class="botisim">&emsp; <%=bot.ayar.fetch(`botlar.${id}.isim`), 5 %> </h3>

<h5 class="kisaaciklama">&emsp; &nbsp; &nbsp; <%=bot.ayar.fetch(`botlar.${id}.kisaaciklama`)%></h5></div>
                          
         <div>     
          &emsp;&emsp; <button class="botprefix btn btn-default">Prefix : <%=bot.ayar.fetch(`botlar.${id}.prefix`)%></button>
             <span class="oy"><a class="oy"><img src="https://www.flaticon.com/svg/static/icons/svg/2673/2673064.svg" width="20px" height="20px;"></i> <%=bot.ayar.fetch(`botlar.${id}.oy`) || 0%> Oy</a></span>&nbsp;&nbsp;
           <% if(bot.ayar.has(`botlar.${id}.sertifika`) === true) { %>
                           <span><img src="https://cdn.discordapp.com/emojis/780805057846837289.png?v=1" width="20px" height="20px"> <a style="color:darkorange">Certified</a></span>
                         <% } %>
                          </div>
                          <% if (!user) { %>
        &emsp;&emsp;&emsp;&nbsp;<a href="/giris"><button class="oyver btn">Login to vote <i class="fa fa-lock"></i></button></a>
                    <% } else { %>
      &emsp;&emsp;&emsp;&nbsp;<a href="/bot/<%=id%>/oyver"><button id="oy" href="/bot/<%=id%>/oyver" class="btn oyver" type="sumbit"><i aria-hidden="true"></i> Vote</button></a>
                      <% } %>
          <a href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=8"><button class="btn davetet"><i aria-hiddden="true"></i> Invite</button></a>
          <br/><br/><br/><br/><br/><br/><br/>
                          <div align=center>
                             <span class="yapimci">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></span> <br/>
      <%if (bot.ayar.has(`botlar.${id}.destek`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.destek`)%>"><button class="btn destek">Support Server</button></a>
            <%} %>
          
          <%if (bot.ayar.has(`botlar.${id}.site`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.site`)%>"><button class="btn website">Web Sites</button></a>
            <%} %>
          
          <%if (bot.ayar.has(`botlar.${id}.github`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.github`)%>"><button class="btn github">Github</button></a>
            <%} %>
        <!-- <a href="/bot/<%=id%>/rapor"><button class="btn btn-danger rapor"><i aria-hidden="true"></i>Report</button></a> -->
                    
                </div> 
  </div>  
  </div>
  <br>
  <div class="uzunaciklama" class="jimbotron" align="center"><br>
    <% if (bot.ayar.has(`botlar.${id}.uzunaciklama`) || bot.ayar.fetch(`botlar.${id}.uzunaciklama`) !== undefined || bot.ayar.fetch(`botlar.${id}.uzunaciklama`) !== null) { %>
<% var xx %>
<% for (var ii = 0; ii < bot.tags.length; ii++) { %>
  <% if(bot.ayar.fetch(`botlar.${id}.uzunaciklama`).includes(bot.tags[ii]) === false) {%>
    <% xx = false %>
 <% } %>
    <% if (bot.ayar.fetch(`botlar.${id}.uzunaciklama`).includes(bot.tags[ii]) === true) { %>
     <% x = true %>
    <% } %>
<% } %>

<% if (x === false) { %>
  <p><%=bot.ayar.fetch(`botlar.${id}.uzunaciklama`)%></p>
<% } else if (x === true) { %>
    <% let $ = bot.htmll.load(bot.ayar.fetch(`botlar.${id}.uzunaciklama`)) %>
  <%- $.html() %>
    <% } %>
    
    <% } else { %>
    <p>Bir Discord botu işte!</p>
    <% } %>
    
  <br></div>
<div align=center>
  
        <% if (user) { %>
          <% if(bot.ayar.fetch(`botlar.${id}.sahipid`) === user.id) { %>
          <a href="/kullanici/<%=user.id%>/panel/<%=id%>/duzenle"><button class="btn btn-primary duzenle"><i aria-hiddden="true"></i> Edit</button></a>
        <a href="/kullanici/<%=user.id%>/panel/<%=id%>/sil"><button class="sil btn btn-danger"><i aria-hidden="true"></i> Delete</button></a>
          <% } %>
        <% } %>
  </div>
        </div><br>
   <!---  <div class="post-actions">
                  <div class="post-tags">
                    <div align="center">
                      <%if(Array.isArray(bot.ayar.fetch(`botlar.${id}.etiket`)) === false) {%>
                      <span class="etiket btn-btn-default"><a><%=bot.ayar.fetch(`botlar.${id}.etiket`)%></a></span>
                      <% } else { %>
                      <% for(var xx = 0; xx < bot.ayar.fetch(`botlar.${id}.etiket`).length; xx++) {%>
                      <span class="etiket btn btn-default"><a><%=bot.ayar.fetch(`botlar.${id}.etiket`)[xx]%></a></span>
                    <% }%>
                      <% }%>
                    </div>
                   </div>
              </div> --->
      </div>
</div>

<% include ./ek/footer %>